@mixin buttonStyle(
  $backgroundColor,
  $textColor,
  $text,
  $textSize,
  $borderColor,
  $borderRadius
) {
  background-color: $backgroundColor;
  font-size: $textSize;
  color: $textColor;
  border: $border solid $borderColor;
  border-radius: $borderRadius;
}
