:root {
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-stone-600: hsl(31, 10%, 43%);
  --color-stone-150: hsl(32, 19%, 86%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-white: hsl(0, 0%, 100%);
  --font-size-1: 40px;
  --font-size-2: 28px;
  --font-size-3: 20px;
  --font-size-4: 16px;
  --spacing-1600: 128px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --font-family-h: "Young Serif", serif;
  --font-family-p: "Outfit", sans-serif;
  --line-height-1: 1;
  --line-height-2: 1.5;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

.text-preset-1 {
  font-family: var(--font-family-h);
  font-size: var(--font-size-1);
  line-height: var(line-height-1);
  letter-spacing: 0px;
  font-weight: vat(font-weight-1);
}

.text-preset-2 {
  font-family: var(--font-family-h);
  font-size: var(--font-size-2);
  line-height: var(line-height-1);
  letter-spacing: 0px;
  font-weight: var(--font-weight-regular);
}

.text-preset-3 {
  font-family: var(--font-family-p);
  font-size: var(--font-size-3);
  line-height: var(line-height-1);
  letter-spacing: 0px;
  font-weight: var(--font-weight-semibold);
}

.text-preset-4 {
  font-family: var(--font-family-p);
  font-size: var(--font-size-4);
  line-height: var(--line-height-2);
  letter-spacing: 0px;
  font-weight: var(--font-weight-regular);
}

.text-preset-4-bold {
  font-family: var(--font-family-p);
  font-size: var(--font-size-4);
  line-height: var(--line-height-2);
  letter-spacing: 0px;
  font-weight: var(--font-weight-bold);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

hr {
  width: 100%;
  background-color: var(--color-stone-150);
  height: 1px;
  border: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-text-center {
  text-align: center;
}

.align-items-start {
  align-items: flex-start;
}

.flex-gap-small {
  gap: var(--gap-small);
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-align-end {
  align-items: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
}
.container .recipe__image_container {
  margin: 0;
}
.container .recipe__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.container .recipe__content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 32px;
  background-color: var(--color-white);
  gap: 32px;
}
.container .recipe__text_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container .recipe__main_title {
  color: var(--color-stone-900);
}
.container .recipe__secondary_title {
  color: var(--color-brown-800);
  margin-bottom: 24px;
}
.container .recipe__text {
  color: var(--color-stone-600);
}
.container .recipe__preparation_time {
  width: 100%;
  max-width: 100%;
  background-color: var(--color-rose-50);
  border-radius: 12px;
  padding: 24px;
  gap: 16px;
}
.container .recipe__preparation_time h2 {
  color: var(--color-rose-800);
}
.container .recipe__content_text {
  color: var(--color-stone-600);
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.container .recipe__content_text li {
  display: flex;
  align-items: center;
  gap: 16px;
}
.container .recipe__content_text .recipe__text_dot {
  color: var(--color-brown-800);
  width: 16px;
  margin-left: 8px;
  font-size: 24px;
}
.container .instructions .recipe__list {
  color: var(--color-stone-600);
  list-style: none;
  counter-reset: step;
  padding-left: 8px;
  gap: 16px;
}
.container .instructions .recipe__list li {
  counter-increment: step;
  position: relative;
  padding-left: 1.5em;
}
.container .instructions .recipe__list li::before {
  content: counter(step) ".";
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  color: var(--color-brown-800);
  font-size: 1rem;
  line-height: 1.5;
}
.container .instructions .recipe__list li .recipe__list--first-word {
  font-weight: bold;
  display: inline;
  margin-right: 0.25em;
}
.container .nutrition .nutrition__description {
  margin-bottom: 24px;
  color: var(--color-stone-600);
}
.container .nutrition .nutrition__table {
  width: 100%;
  border-collapse: collapse;
}
.container .nutrition .nutrition__table tr {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-stone-150);
}
.container .nutrition .nutrition__table tr:last-child {
  border-bottom: none;
}
.container .nutrition .nutrition__table td {
  padding: 14px 16px;
  font-size: 1rem;
}
.container .nutrition .nutrition__label {
  color: var(--color-stone-600);
}
.container .nutrition .nutrition__value {
  font-weight: bold;
  color: var(--color-brown-800);
}

@media (min-width: 768px) and (max-width: 1439px) {
  body {
    padding: 128px 48px;
    background-color: var(--color-stone-100);
  }
  .container {
    width: 616px;
    max-width: none;
    background-color: var(--color-white);
    padding: 40px;
    border-radius: 24px;
  }
  .container .recipe__preparation_time {
    max-width: none;
  }
  .container .recipe__content-box {
    padding: 0;
    margin-top: 24px;
  }
  .container .recipe__image {
    border-radius: 12px;
  }
}
@media (min-width: 1440px) {
  body {
    padding: 120px 64px;
    background-color: var(--color-stone-100);
  }
  .container {
    width: 736px;
    max-width: none;
    background-color: var(--color-white);
    padding: 40px;
    border-radius: 32px;
  }
  .container .recipe__preparation_time {
    max-width: none;
  }
  .container .recipe__content-box {
    padding: 0;
    margin-top: 64px;
  }
}

/*# sourceMappingURL=styles.css.map */
