body {
    width: 100%;
    max-width: none;
    background-color: var(--color-stone-100);
    margin: 0;
    padding: 0;
}

hr {
    width: 100%;
    background-color: var(--color-stone-150);
    height: 1px;
    border: none;
}
