.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  max-width: 736px;
  margin: 0 auto;

  .recipe__image_container {
    margin: 0;
    padding: 0;
  }

  .recipe__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .recipe__content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 32px;

    margin-top: 40px;
    background-color: var(--color-white);
    gap: 32px;
  }

  .recipe__text_box {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .recipe__main_title {
    color: var(--color-stone-900);
  }

  .recipe__secondary_title {
    color: var(--color-brown-800);
    margin-bottom: 24px;
  }

  .recipe__text {
    color: var(--color-stone-600);
  }

  .recipe__preparation_time {
    width: 100%;
    max-width: 100%;
    background-color: var(--color-rose-50);
    border-radius: 12px;
    padding: 24px;
    gap: 16px;

    & h2 {
      color: var(--color-rose-800);
    }
  }

  .recipe__content_text {
    color: var(--color-stone-600);
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .recipe__text_dot {
      color: var(--color-brown-800);
      width: 16px;
      margin-left: 8px;
      font-size: 24px;
    }
  }

  .instructions {
    .recipe__list {
      color: var(--color-stone-600);
      list-style: none;
      counter-reset: step;
      padding-left: 8px;
      gap: 16px;

      li {
        counter-increment: step;
        position: relative;
        padding-left: 1.5em;

        &::before {
          content: counter(step) ".";
          position: absolute;
          left: 0;
          top: 0;
          font-weight: bold;
          color: var(--color-brown-800);
          font-size: 1rem;
          line-height: 1.5;
        }

        .recipe__list--first-word {
          font-weight: bold;
          display: inline;
          margin-right: 0.25em;
        }
      }
    }
  }

  .nutrition {
    .nutrition__description {
      margin-bottom: 24px;
      color: var(--color-stone-600);
    }

    .nutrition__table {
      width: 100%;
      border-collapse: collapse;
    }

    .nutrition__table tr {
      padding-bottom: 12px;
      border-bottom: 1px solid var(--color-stone-150);

      &:last-child {
        border-bottom: none;
      }
    }

    .nutrition__table td {
      padding: 14px 16px;
      font-size: 1rem;
    }

    .nutrition__label {
      color: var(--color-stone-600);
    }

    .nutrition__value {
      font-weight: bold;
      color: var(--color-brown-800);
    }
  }
}
