.text-preset-1 {
  font-family: var(--font-family-h);
  font-size: var(--font-size-1);
  line-height: var(line-height-1);
  letter-spacing: 0px;
  font-weight: vat(font-weight-1);
}

.text-preset-2 {
  font-family: var(--font-family-h);
  font-size: var(--font-size-2);
  line-height: var(line-height-1);
  letter-spacing: 0px;
  font-weight: var(--font-weight-regular);
}

.text-preset-3 {
  font-family: var(--font-family-p);
  font-size: var(--font-size-3);
  line-height: var(line-height-1);
  letter-spacing: 0px;
  font-weight: var(--font-weight-semibold);
}

.text-preset-4 {
  font-family: var(--font-family-p);
  font-size: var(--font-size-4);
  line-height: var(--line-height-2);
  letter-spacing: 0px;
  font-weight: var(--font-weight-regular);
}

.text-preset-4-bold {
  font-family: var(--font-family-p);
  font-size: var(--font-size-4);
  line-height: var(--line-height-2);
  letter-spacing: 0px;
  font-weight: var(--font-weight-bold);
}
